.container{
  display: flex;
  max-width: 100%;
  justify-content: space-evenly;
}
li{
  list-style: none;
  text-align: center;
  margin: 0 auto;
}
ul{
  padding: 0;
}
span{
  text-align: center;
  margin: 0 auto;
}
div{
  text-align: center;
  justify-content: center;
}
